.footer {
  background-color: #0a2850;
  color: #fff;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 0;
  z-index: 2;
}

.footer__circle {
  position: absolute;
  top: -128px;
  left: -44px;
  background-color: #2f80ed;
  height: 340px;
  width: 340px;
  border-radius: 100%;
  z-index: 1;
}

.footer__logo {
  height: 39px;
  width: 105px;
  z-index: 2;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer .footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  padding: 100px 0 60px 80px;
  z-index: 2;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
