.form {
  display: flex;
  flex-direction: column;
}

.reservation__form {
  margin: auto;
  display: flex;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
  margin: 0 auto;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  box-sizing: border-box;
  margin: 8px 0 32px;
  max-height: 60px;
  border-radius: 4px;
  padding: 15px 20px;
  color: #838383;
}

.form__button {
  max-width: 385px;
  margin: 0 0 32px;
  height: 60px;
  padding: 0;
  background-color: #2f80ed;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
}

.form__button:hover:enabled {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form__checkbox-input {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  gap: 12px;
}
