.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.recipes__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  padding: 100px 0 24px 80px;
  margin: 0;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 0 0 80px 80px;
  margin: 0;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  margin: 0 auto 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: 0;
}

.recipes__video-caption {
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
