.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

p {
  margin: 0;
}
.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style-type: none;
  margin: 30px 80px 0 0;
  padding: 0;
  gap: 20px;
}

.nav__logo {
  height: 39px;
  width: 105px;
  margin: 30px auto 0 30px;
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.header__title {
  margin: 183px 0 0 80px;
  max-width: 709px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto 80px 40px;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.recipes__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  padding: 100px 0 24px 80px;
  margin: 0;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 0 0 80px 80px;
  margin: 0;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  margin: 0 auto 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: 0;
}

.recipes__video-caption {
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
